.projects__project-list {
  .unordered-list;
  // .flex-container;
}

.projects__project-item {
  position: relative;
  padding: 20px;
  max-width: 375px;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  // flex-grow: 1;
  // Так, А Метатрон-то почему плющит?
}

.projects__project-tags {
  .unordered-list;
  .small-typographic-theme;
  font-size: 12px;
  line-height: 12px;

  &--not-display {
    visibility: hidden;
  }
}

.projects__project-tag {
  margin-bottom: 5px;
}

.projects__project-name {
  margin-bottom: 5px;
  .headers-typographic-theme;
  font-size: 16px;
  line-height: 16px;
}

.projects__project-occupation {
  margin: 0;
  .small-typographic-theme;
  font-size: 14px;
  line-height: 18px;
}

.projects__project-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.projects__project-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 18px;
  height: 11px;
  background-image: url(../../img/icons/card-small-link.svg);
  background-position: center;
  background-repeat: no-repeat;

  &--not-display {
    visibility: hidden;
  }
}




.projects__project-item--metatron {
  background: linear-gradient(to right, #FF941A 40%, #fff 40%, #fff 100%);
}

.projects__project-item--metatron .projects__project-logo {
  left: 66%;
}

.projects__project-item--metatron::after {
  .pseudo-element;
  // ТУТ ТОЖЕ РЕТИНУ!!! 
  background-image: url(../../img/metatron-detail-group.png);
  width: 98px;
  height: 127px;
  top: 74px;
  left: 57px;
}

.projects__project-item--finance {
  background-color: #00338D;
}

.projects__project-item--stalker {
  background-color: #16172C;
}

.projects__project-item--unihome {
  background-color: #F06E43
}

.projects__project-item--indihome {
  background-color: #fff;
  color: #202020;
}

.projects__project-item--indihome .projects__project-logo {
  top: 49%;
}

.projects__project-item--indihome .not-mobile {
  display: none;
}



.projects__project-item--all-projects {
  display: none;
}

// .projects__project-item--finance .projects__project-logo {
//   width: 134px;
//   height: 48px;
// }

@media (min-width: 1200px) {
  .projects__project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__project-item {
    max-width: none;
    min-height: 580px;
  }




  .projects__project-item--all-projects {
    display: flex;
    background-color: #202020;
    align-items: center;
    justify-content: center;
  }

  // .projects__project-item--indihome .not-mobile {
  //   display: inline;
  // }

  .projects__project-item--all-projects label {
    font-size: 18px;
    line-height: 18px;
  }


}