.projects__project-list {
  .unordered-list
}

.projects__project-item {
  max-width: 375px;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
}

.projects__project-item--all-projects {
  display: none;
}

.projects__project-item--finance {
  background-color: #00338D;
}

.projects__project-item--stalker {
  background-color: #16172C;
}

.projects__project-item--unihome {
  background-color: #F06E43
}

.projects__project-item--indihome .not-mobile {
  display: none;
}

.projects__project-item--indihome {
  background-color: #fff;
  color: #202020;
}

.projects__project-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.projects__project-item--finance .projects__project-logo {
  width: 134px;
  height: 48px;
}

.projects__project-name {
  margin: auto 0 0 20px;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
}

.projects__project-description {
  margin: 4px 0 20px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.projects__metatron-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  min-height: 275px;
}

.projects__metatron-content {
  padding: 20px;
  padding-right: 0;
  height: 100%;
  .flex-container;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FF941A;
  position: relative;
}

.projects__metatron-content::after {
  .pseudo-element;
  background: url(../../img/metatron-detail-group.png);
  width: 98px;
  height: 127px;
  top: 74px;
  right: -5px;
}

.projects__metatron-tags-list {
  .unordered-list;
}

.projects__metatron-tag {
  .small-typographic-theme;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}

.projects__metatron-description .projects__project-name,
.projects__metatron-description .projects__project-description {
  margin: 0;
  padding: 0;
}

.projects__metatron-description .projects__project-description {
  margin-top: 5px;
}

.projects__metatron-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.projects__metatron-brand img {
  margin-left: -30px;
}

.projects__metatron-brand a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-image: url(../../img/icons/arrow-right-black-metatron.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 11px;
}

@media (min-width: 1200px) {
  .projects__project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__project-item {
    max-width: none;
    min-height: 580px;
  }

  .projects__project-name {
    margin: auto 0 0 50px;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
  }
  
  .projects__project-description {
    margin: 4px 0 50px 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .projects__project-item--all-projects {
    display: flex;
    background-color: #202020;
    align-items: center;
    justify-content: center;
  }

  .projects__metatron-container {
    grid-template-columns: 313px auto;
    min-height: 580px;
  }

  .projects__metatron-content::after {
    .pseudo-element;
    background: center no-repeat url(../../img/metatron-detail-big.png);
    width: 210px;
    height: 202px;
    top: 244px;
    right: -59px;
  }

  .projects__metatron-content::before {
    .pseudo-element;
    background: center no-repeat url(../../img/metatron-detail-mini.png);
    width: 173px;
    height: 98px;
    top: 145px;
    right: 59px;
  }

  .projects__metatron-tags-list {
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .projects__metatron-tag {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .projects__metatron-description {
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .projects__metatron-brand img {
    width: 465px;
    height: 131px;
    margin-left: 84px;
  }

  .projects__metatron-brand a {
    background-image: url(../../img/icons/arrow-right-black.svg);
    bottom: 50px;
    right: 50px;
    width: 28px;
    height: 17px;
  }

  .projects__project-item--finance .projects__project-logo {
    width: 292px;
    height: 107px;
  }

  .projects__project-item--unihome .projects__project-logo {
    width: 340px;
    height: 340px;
    margin-left: 170px;
  }

  .projects__project-item--indihome .projects__project-logo {
    width: 203px;
    height: 203px;
  }

  .projects__project-item--indihome .not-mobile {
    display: inline;
  }

  .projects__project-item--all-projects label {
    font-size: 18px;
    line-height: 18px;
  }


}