@font-face {
	font-family: 'gilroy-regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-regular.woff2) format('woff2'),
       url(../fonts/Gilroy/gilroy-regular.woff) format('woff'),
       url(../fonts/Gilroy/gilroy-regular.ttf) format('ttf');
}

@font-face {
	font-family: 'gilroy-medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-medium.woff2) format('woff2'),
       url(../fonts/Gilroy/gilroy-medium.woff) format('woff'),
       url(../fonts/Gilroy/gilroy-medium.ttf) format('ttf');
}

@font-face {
	font-family: 'gilroy-semibold';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-semibold.woff2) format('woff2'),
       url(../fonts/Gilroy/gilroy-semibold.woff) format('woff'),
       url(../fonts/Gilroy/gilroy-semibold.ttf) format('ttf');
}

@font-face {
	font-family: 'gilroy-black';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-black.woff2) format('woff2'),
       url(../fonts/Gilroy/gilroy-black.woff) format('woff'),
       url(../fonts/Gilroy/gilroy-black.ttf) format('ttf');
}

/*
  100: Thin
  200: Extra Light (Ultra Light)
  300: Light
  400: Normal (Regular, auto)
  500: Medium
  600: Semi Bold (Demi Bold)
  700: Bold
  800: Extra Bold (Ultra Bold)
  900: Black (Heavy)
*/

/*
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium500.woff2") format("woff2"), url("../fonts/Montserrat-Medium500.woff") format("woff");
}
*/

/*
// 100
// Thin
@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-thin.ttf") format("ttf");
}

// Thin italic
@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-thinitalic.ttf") format("ttf");
}


// 200
// Ultra Light
@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-ultralight.ttf") format("ttf");
}

// Ultra Light italic
@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-ultralightitalic.ttf") format("ttf");
}


// 300
// Light italic
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-lightitalic.ttf") format("ttf");
}
*/


// 400
// Regular
/*
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-regular.ttf") format("ttf");
}
*/

// Regular italic
// @font-face {
//   font-family: "Gilroy";
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
//   src: url("../fonts/Gilroy/gilroy-regularitalic.ttf") format("ttf");
// }


// 500
// Medium
/*
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-medium.ttf") format("ttf");
}
*/

// Medium italic
// @font-face {
//   font-family: "Gilroy";
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
//   src: url("../fonts/Gilroy/gilroy-mediumitalic.ttf") format("ttf");
// }


// 600
// Semi Bold
/*
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-semibold.ttf") format("ttf");
}
*/

// Semi Bold italic
// @font-face {
//   font-family: "Gilroy";
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
//   src: url("../fonts/Gilroy/gilroy-semibolditalic.ttf") format("ttf");
// }


/*
// 700
// Bold
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-bold.ttf") format("ttf");
}

// Bold italic
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-bolditalic.ttf") format("ttf");
}


// 800
// Extra Bold italic
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-extrabolditalic.ttf") format("ttf");
}


// 900
// Black
@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-black.ttf") format("ttf");
}

// Black italic
@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/gilroy-blackitalic.ttf") format("ttf");
}

*/