@mobile-width: 375px;
@tablet-width: 768px;
@desktop-width: 1920px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

/*
@light-background: #eee8e6;
@dark-background: #343235;
@dark-brown-color: #695a59;
@light-brown-color: #a78587;
@pastel-color: #eee9e6;
@ghost-color: #eae1dc;
*/
